/vendor
/node_modules
/public/build
/public/hot

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar/*

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

.env
.env.backup
.env.production
.env.local

error_log
*.log

/public/storage
/public/uploads
/public/admin/download/*
!/public/admin/download/.gitkeep

/backups
/*.zip
/*.tar
/*.gz

/.idea
/.vscode
.DS_Store
Thumbs.db

npm-debug.log
yarn-error.log

Homestead.json
Homestead.yaml

/phpunit.result.cache

/.phpunit.cache

coverage/

Modules/*/Resources/assets/node_modules
Modules/*/Resources/assets/dist
Modules/*/Resources/assets/build