// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


/** app.blade.js **/
.sideMenu{ float: left; width: 140px; }
.mainContainer{ width: calc( 100% - 140px); float: left; }
#mainMenuMobile{ display: none; }
#mobileAction{ display: none; }
.sideMenuUL{ margin-top: 10px;display: inline-block; }
.sideMenuText{ margin-top: 10px; }
.nav-item{ padding: 10px 0 0 0; }
.nav-item:hover{ padding: 10px 0 0 0; }
li.nav-item > a > div:hover { color: dodgerblue; }
li.nav-item > a:hover { color: dodgerblue; }


.card-body { background-color: #FFF; border-radius: 10px; }



.rowStyling:hover{ background-color: #ddd;}

.btn-action{ border: 1px solid dodgerblue; background-color: dodgerblue;color: #fff; }
.btn-action:hover{ border: 1px solid dodgerblue; background-color: #0D6EFD; color: #FFF; }
.btn-dimensions{display: grid; align-items: center; text-transform: uppercase;text-decoration: none;height: 70px;margin: 5px; width: 80px;float: right;padding: 0;}

.customPanel{ background-color: #fff;border: 1px solid #ddd;border-radius: 5px;display:block; padding: 10px;margin-top: 10px; }
.customInput{ width: 100%; background-color: #f1f1f1; border: 1px solid #ddd; border-radius: 5px;}
.customInput20{ width: 100%; background-color: #f1f1f1; border: 1px solid #ddd; border-radius: 5px;font-size: 20px;}

.tagLeft{ width: 50%;text-align: right;font-size: 16px; }
.tagRight{ color: dodgerblue; font-size: 16px;padding: 5px; margin: 5px;text-align: left;font-size: 18px; }


.showInfo{ padding: 5px 0; }
.text-right{ text-align: right; }
.text-green{ color: green; }
.text-red{ color: red; }
.f-left{  float: left;  }
.f-right{ float: right; }
.f-none{  float: none;  }

@media (max-width: 768px) {
    .sideMenu{ float: left; width: 0px; display: none; }
    #mainMenuMobile{ display: block; }
    .mainContainer{ width: 100%; float: left; }
    .sideMenuUL{ margin-top: 10px;display: inline-block; width: 70px; }
    .sideMenuUL >li{ width: 70px; font-size: 14px;}
    .sideMenuText{ font-size: 10px; }
    .sideMenuLogo{ display: none; }
    #mobileMenu{ display: none; }
    .mobileMenuItem{ width: 25%; float: left; height: 75px; padding: 15px 0; border: 1px solid #ddd; }
    #desktopAction{ display: none; }
    #breadcrumbs{ width: 100% !important; }
    .apps_icon_container{ width: 27%; float: left; height: 120px; }
    .logisticsActionLabel{ line-height: 1; }
    #mobileAction{ display: block; }
    .btn-dimensions{display: flex; align-items: center; text-transform: uppercase;text-decoration: none;height: 40px;margin: 5px 0 0 0; width: 50%;float: right;padding: 10px;}
    .hide_mobile{display: none; }

    .customPanel{ width: 100%; overflow-x: scroll; }

}
